{% extends 'base.html' %}

{% block admin_content %}

<h3>Author</h3>
<form action="" method="post">
    <p>
        <label for="author-name">Name:</label>
        {% if "name" in form_data %}
            <input type="text" name="name" id="author-name" value="{{form_data['name']}}" required />
        {% else %}
            <input type="text" name="name" id="author-name" value="{{author and author.name or ''}}" required autofocus />
        {% endif %}
        <span class="help">(required)</span>
        {% if "name" in errors %}
            <span class="error">please enter a valid name</span>
        {% endif %}
    </p>

    <p>
        <label for="author-url">URL:</label>
        {% if "url" in form_data %}
            <input type="url" name="url" id="author-url" value="{{form_data['url']}}" />
        {% else %}
            <input type="url" name="url" id="author-url" value="{{author and author.url or ''}}" />
        {% endif %}
        <span class="help">(optional, overrides links to author index)</span>
        {% if "url" in errors %}
            <span class="error">please enter a valid URL</span>
        {% endif %}
    </p>

    <p>
        <label for="author-email">Email:</label>
        {% if "email" in form_data %}
            <input type="email" name="email" id="author-email" value="{{form_data['email']}}" />
        {% else %}
            <input type="email" name="email" id="author-email" value="{{author and author.email or ''}}" />
        {% endif %}
        <span class="help">(optional, for messages from the contact page)</span>
        {% if "email" in errors %}
            <span class="error">please enter a valid email</span>
        {% endif %}
    </p>

    {% if author %}
        <p><input type="submit" value="Save Changes" /></p>
    {% else %}
        <p><input type="submit" value="Create New Author" /></p>
    {% endif %}
</form>

{% endblock %}
