<%inherit file="base.html"/>

<h3>Author</h3>
<form action="" method="post">
    <p>
        Name:
        <input type="text" name="name" value="${author and author.name or ''}" />
        <span class="help">(required)</span>
    </p>

    <p>
        URL:
        <input type="text" name="url" value="${author and author.url or ''}" />
        <span class="help">(optional, overrides links to author index)</span>
    </p>

    <p>
        Email:
        <input type="text" name="email" value="${author and author.email or ''}" />
        <span class="help">(optional, for messages from the contact page)</span>
    </p>

    % if author:
        <p><input type="submit" value="Save Changes" /></p>
    % else:
        <p><input type="submit" value="Create New Author" /></p>
    % endif
</form>

