<%inherit file="base.html"/>

% if blog:
    <h3>Configuration</h3>
% else:
    <h3>Blog Setup</h3>
% endif

<form action="" method="post">
    <p>
        Blog Title: <input type="text" name="title" value="${blog and blog.title or ''}" />
    </p>
    <p>
        Blog Description: <input type="text" name="description" value="${blog and blog.description or ''}" />
        (optional, used by RSS and default meta tags)
    </p>
    <p>
        Enable Comments:
        % if blog and blog.comments:
            <input type="checkbox" name="comments" checked="checked" />
        % else:
            <input type="checkbox" name="comments" />
        % endif
    </p>
    <p>
        Enable Email Alerts for Comments Needing Moderation:
        % if blog and blog.moderation_alert:
            <input type="checkbox" name="moderation_alert" checked="checked" />
        % else:
            <input type="checkbox" name="moderation_alert" />
        % endif
    </p>
    <p>
        Enable Contact Page:
        % if blog and blog.contact:
            <input type="checkbox" name="contact" checked="checked" />
        % else:
            <input type="checkbox" name="contact" />
        % endif
    </p>
    <p>
        Admin Email: <input type="text" name="description" value="${blog and blog.admin_email or ''}" />
        (required for email alerts or the contact page to work correctly, must match the email address of a GAE admin)
    </p>
    <p>
        Posts Per Page: <input type="text" name="posts_per_page" value="${blog and blog.posts_per_page or 10}" />
        (control how many posts are shown at once on index pages)
    </p>
    <p>
        Blog URL: <input type="text" name="url" value="${blog and blog.url or blog_url}" />
        (WARNING: changing this may break things, see readme for instructions)
    </p>
    <p>
        Base Template: <input type="text" name="template" value="${blog and blog.template or ''}" />
        (relative path from your parent project)
    </p>

    % if blog:
        <p><input type="submit" value="Save Changes" /></p>
    % else:
        <p><input type="submit" value="Create New Blog" /></p>
    % endif
</form>

