{% extends 'base.html' %}

{% block admin_content %}

{% if blog %}
    <h3>Configuration</h3>
{% else %}
    <h3>Blog Setup</h3>
{% endif %}

<form action="" method="post">
    <p>
        <label for="blog-title">Blog Title:</label>
        {% if "title" in form_data %}
            <input type="text" id="blog-title" name="title" value="{{form_data['title']}}" required />
        {% else %}
            <input type="text" id="blog-title" name="title" value="{{blog and blog.title or ''}}" autofocus required />
        {% endif %}
        {% if "title" in errors %}
            <span class="error">please enter a valid title</span>
        {% endif %}
    </p>
    <p>
        <label for="blog-description">Blog Description:</label>
        {% if "description" in form_data %}
            <input type="text" id="blog-description" name="description" value="{{form_data['description']}}" />
        {% else %}
            <input type="text" id="blog-description" name="description" value="{{blog and blog.description or ''}}" />
        {% endif %}
        <span class="help">(optional, used by RSS and default meta tags)</span>
        {% if "description" in errors %}
            <span class="error">please enter a valid description</span>
        {% endif %}
    </p>
    <p>
        <label for="enable_comments">Enable Comments:</label>
        {% if "enable_comments" in form_data %}
            <input type="checkbox" name="enable_comments" id="enable_comments" {{(form_data['enable_comments'] and 'checked="checked"' or '') | safe}}/>
        {% else %}
            {% if blog and blog.enable_comments %}
                <input type="checkbox" name="enable_comments" id="enable_comments" checked="checked" />
            {% else %}
                <input type="checkbox" name="enable_comments" id="enable_comments" />
            {% endif %}
        {% endif %}
    </p>
    <p>
        <label for="enable_linkbacks">Enable Linkbacks:</label>
        {% if "enable_linkbacks" in form_data %}
            <input type="checkbox" name="enable_linkbacks" id="enable_linkbacks" {{(form_data['enable_linkbacks'] and 'checked="checked"' or '') | safe}}/>
        {% else %}
            {% if blog and blog.enable_linkbacks %}
                <input type="checkbox" name="enable_linkbacks" id="enable_linkbacks" checked="checked" />
            {% else %}
                <input type="checkbox" name="enable_linkbacks" id="enable_linkbacks" />
            {% endif %}
        {% endif %}
    </p>
    <p>
        <label for="moderation_alert-box">Enable Email Alerts for Comments and/or Linkbacks Needing Moderation:</label>
        {% if "moderation_alert" in form_data %}
            <input type="checkbox" name="moderation_alert" id="moderation_alert-box" {{(form_data['moderation_alert'] and 'checked="checked"' or '') | safe}}/>
        {% else %}
            {% if blog and blog.moderation_alert %}
                <input type="checkbox" name="moderation_alert" id="moderation_alert-box" checked="checked" />
            {% else %}
                <input type="checkbox" name="moderation_alert" id="moderation_alert-box" />
            {% endif %}
        {% endif %}
    </p>
    <p>
        <label for="contact-box">Enable Contact Page:</label>
        {% if "contact" in form_data %}
            <input type="checkbox" name="contact" id="contact-box" {{(form_data['contact'] and 'checked="checked"' or '') | safe}}/>
        {% else %}
            {% if blog and blog.contact %}
                <input type="checkbox" name="contact" id="contact-box" checked="checked" />
            {% else %}
                <input type="checkbox" name="contact" id="contact-box" />
            {% endif %}
        {% endif %}
    </p>
    <p>
        <label for="author-pages">Enable Author Pages:</label>
        {% if "author_pages" in form_data %}
            <input type="checkbox" name="author_pages" id="author-pages" {{(form_data['author_pages'] and 'checked="checked"' or '') | safe}}/>
        {% else %}
            {% if blog and blog.author_pages %}
                <input type="checkbox" name="author_pages" id="author-pages" checked="checked" />
            {% else %}
                <input type="checkbox" name="author_pages" id="author-pages" />
            {% endif %}
        {% endif %}
    </p>
    <p>
        <label for="admin_email">Admin Email:</label>
        {% if "admin_email" in form_data %}
            <input type="email" name="admin_email" id="admin_email" value="{{form_data['admin_email']}}" />
        {% else %}
            <input type="email" name="admin_email" id="admin_email" value="{{blog and blog.admin_email or ''}}" />
        {% endif %}
        <span class="help">(required for email alerts or the contact page to work correctly, must match the email address of a GAE admin)</span>
        {% if "admin_email" in errors %}
            <span class="error">please enter a valid email</span>
        {% endif %}
    </p>
    <p>
        <label for="posts_per_page">Posts Per Page:</label>
        {% if "posts_per_page" in form_data %}
            <input type="number" min="1" step="1" name="posts_per_page" id="posts_per_page" value="{{form_data['posts_per_page']}}" />
        {% else %}
            <input type="number" min="1" step="1" name="posts_per_page" id="posts_per_page" value="{{blog and blog.posts_per_page or 10}}" />
        {% endif %}
        <span class="help">(control how many posts are shown at once on index pages)</span>
        {% if "posts_per_page" in errors %}
            <span class="error">please enter a valid integer value</span>
        {% endif %}
    </p>
    <p>
        <label for="image_preview_size">Image Preview Size:</label>
        {% if "image_preview_size" in form_data %}
            <input type="number" min="1" step="1" name="image_preview_size" id="image_preview_size" value="{{form_data['image_preview_size']}}" />
        {% else %}
            <input type="number" min="1" step="1" name="image_preview_size" id="image_preview_size" value="{{blog and blog.image_preview_size or 600}}" />
        {% endif %}
        <span class="help">(the maximum number of pixels wide or high for previews, applies to the larger dimension)</span>
        {% if "image_preview_size" in errors %}
            <span class="error">please enter a valid integer value</span>
        {% endif %}
    </p>
    <p>
        <label for="blog-url">Blog URL:</label>
        {% if "url" in form_data %}
            /<input type="text" name="url" id="blog-url" value="{{form_data['url']}}" />
        {% else %}
            /<input type="text" name="url" id="blog-url" value="{{blog and blog.slug or blog_url[1:]}}" />
        {% endif %}
        <span class="help">(WARNING: changing this may break things, see readme for instructions)</span>
        {% if "url" in errors %}
            <span class="error">please enter a valid URL</span>
        {% endif %}
        {% if "url_exists" in errors %}
            <span class="error">the URL you entered is already in use by another blog within this app</span>
        {% endif %}
    </p>
    <p>
        <label for="blog-template">Base Template:</label>
        {% if "template" in form_data %}
            <input type="text" name="template" id="blog-template" value="{{form_data['template']}}" />
        {% else %}
            <input type="text" name="template" id="blog-template" value="{{blog and blog.template or ''}}" />
        {% endif %}
        <span class="help">(relative path from your parent project)</span>
        {% if "template" in errors %}
            <span class="error">please enter a valid template path</span>
        {% endif %}
    </p>
    <p>
        <label for="mail_queue">Mail Queue:</label>
        {% if "mail_queue" in form_data %}
            <input type="text" name="mail_queue" id="mail_queue" value="{{form_data['mail_queue']}}" />
        {% else %}
            <input type="text" name="mail_queue" id="mail_queue" value="{{blog and blog.mail_queue or 'mail'}}" />
        {% endif %}
        <span class="help">(task queue to use for sending email)</span>
        {% if "mail_queue" in errors %}
            <span class="error">please enter a valid queue</span>
        {% endif %}
    </p>
    <p>
        <label for="blocklist">IP Address Blocklist:</label>
        <span class="help">(newline separated)</span>
    </p>
    {% if "blocklist" in form_data %}
        <textarea name="blocklist" id="blocklist">{{form_data['blocklist']}}</textarea>
    {% else %}
        {% if blog and blog.blocklist %}
            <textarea name="blocklist" id="blocklist">{% for address in blog.blocklist %}{{address}}&#13;&#10;{% endfor %}</textarea>
        {% else %}
            <textarea name="blocklist" id="blocklist"></textarea>
        {% endif %}
    {% endif %}

    {% if blog %}
        <p><input type="submit" value="Save Changes" /></p>
    {% else %}
        <p><input type="submit" value="Create New Blog" /></p>
    {% endif %}
</form>

{% if blog %}
    <p><a href="#" id="advanced-link">Advanced Functions</a></p>
    <div id="advanced-section" style="display: none;">
        <p>WARNING! Proceed with caution.</p>
        <form action="{{blog_url}}/admin/migrate" method="post">
            <input type="submit" value="Run Migrations" />
        </form>
    </div>
{% endif %}

{% endblock %}
