{% extends 'base.html' %}

{% block admin_content %}

<h3>Comments</h3>

{% if comments.count() %}
<table>
    <thead>
        <tr>
            <th>Post</th>
            <th>Name</th>
            <th>URL</th>
            <th>Email</th>
            <th>Body</th>
            <th>Linkback</th>
            <th>Timestamp (UTC)</th>
            <th>IP Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{blog_url}}/admin/post/{{comment.post.slug}}">{{comment.post.title}}</a></td>
                <td>{{comment.name|e}}</td>
                <td>{{comment.url}}</td>
                <td>{{comment.email}}</td>
                <td>{{comment.body}}</td>
                <td>
                    {% if comment.trackback %}
                        Trackback <br/>
                        Blog Name: {{comment.blog_name|e}}
                    {% elif comment.pingback %}
                        Pingback
                    {% elif comment.webmention %}
                        Webmention
                    {% else %}
                        None
                    {% endif %}
                </td>
                <td>{{comment.timestamp.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                <td>{{comment.ip_address}}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="comment" value="{{comment.key.urlsafe()}}" />
                        <input type="submit" value="Approve" />
                    </form>
                    <form action="" method="post">
                        <input type="hidden" name="comment" value="{{comment.key.urlsafe()}}" />
                        <input type="hidden" name="block" value="1" />
                        <input type="submit" value="Block IP and Delete" />
                    </form>
                    <form action="" method="post">
                        <input type="hidden" name="comment" value="{{comment.key.urlsafe()}}" />
                        <input type="hidden" name="delete" value="1" />
                        <input type="submit" value="Just Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No comments to moderate.</p>
{% endif %}

{% endblock %}
