<%inherit file="base.html"/>

<h3>Comments</h3>

% if comments:
<table>
    <thead>
        <tr>
            <th>Post</th>
            <th>Name</th>
            <th>URL</th>
            <th>Email</th>
            <th>Body</th>
            <th>Timestamp (UTC)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        % for comment in comments:
            <tr>
                <td><a href="${blog_url}/admin/post/${comment.post.slug}">${comment.post.title}</a></td>
                <td>${comment.name}</td>
                <td>${comment.url}</td>
                <td>${comment.email}</td>
                <td>${comment.body}</td>
                <td>${comment.timestamp}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="email" value="${comment.email}" />
                        <input type="submit" value="Approve" />
                    </form>
                </td>
            </tr>
        % endfor
    </tbody>
</table>
% else:
<p>No comments to moderate.</p>
% endif

