<%inherit file="base.html"/>

<h3>Images</h3>

% if blog.images.count():
    <table>
        <thead>
            <tr>
                <th>Thumbnail (Click to View)</th>
                <th>Relative URL (Click to Edit)</th>
                <th>Timestamp (UTC)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            % for image in blog.images:
                <tr>
                    <td><a href="${blog_url}/img/${image.name}">
                        <img src="${blog_url}/img/${image.name}?preview=1" alt="Image Preview" style="max-width: 100px;" />
                    </a></td>
                    <td><a href="${blog_url}/admin/image/${image.name}">${blog_url}/img/${image.name}</a></td>
                    <td>${image.timestamp}</td>
                    <td>
                        <form action="" method="post" class="delete-form">
                            <input type="hidden" name="image" value="${image.key()}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
% else:
    <p>No images stored in the database yet.</p>
% endif

<h3><a href="${blog_url}/admin/image/">Upload a New Image</a></h3>

<script type="text/javascript">
    var els = document.getElementsByTagName("form");
    for (var i=0; i < els.length; i++) {
        if (els[i].className == "delete-form") {
            els[i].addEventListener("submit", function(e) {
                var response = confirm("Are you sure you want to permanently delete this image?\n\nAny references to it will be broken.");
                if (!response) {
                    if (e.stopPropagation) e.stopPropagation();
                    else e.cancelBubble = true;

                    if (e.preventDefault) e.preventDefault();
                    else e.returnValue = false;

                    return false;
                }
            }, false);
        }
    }
</script>

