{% extends 'base.html' %}

{% block admin_content %}

<h3>Upload an Image</h3>

<form action="" enctype="multipart/form-data" method="post" id="image-upload-form">
    <p>
        <label for="data">File:</label>
        <input type="file" name="data" />
        {% if "file" in errors %}
            <span class="error">no file selected</span>
        {% endif %}
        {% if "type" in errors %}
            <span class="error">invalid file type</span>
        {% endif %}
    </p>
    <p><input type="submit" value="Upload" /></p>
</form>

<script>
    var gaeblog = gaeblog || {};
    gaeblog.BLOG_URL = "{{blog_url}}";
</script>

{% endblock %}
