{% extends 'base.html' %}

{% block admin_content %}

<h3>Images</h3>

{% if images %}
    <table>
        <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Filename</th>
                <th>Timestamp (UTC)</th>
                <th>Size (Bytes)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
                <tr>
                    <td><a href="{{image.url}}">
                        <img src="{{image.url}}=s100" alt="{{blob_infos[loop.index - 1].filename}} Preview" />
                    </a></td>
                    <td>{{blob_infos[loop.index - 1].filename}}</td>
                    <td>{{blob_infos[loop.index - 1].creation.strftime("%Y-%m-%d %H:%M:%S")}}</td>
                    <td>{{blob_infos[loop.index - 1].size}}</td>
                    <td>
                        <form action="" method="post" class="delete-form">
                            <input type="hidden" name="image" value="{{image.key.id()}}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if page or last_page > page %}
        <p class="post-nav">
            {% if last_page > page %}
                <a href="{{blog_url}}/admin/images?page={{page + 1}}">&lt; Older Images</a>
                {% if page %}
                    |
                {% endif %}
            {% endif %}
            {% if page %}
                {% if page - 1 == 0 %}
                    <a href="{{blog_url}}/admin/images">Newer Images &gt;</a>
                {% else %}
                    <a href="{{blog_url}}/admin/images?page={{page - 1}}">Newer Images &gt;</a>
                {% endif %}
            {% endif %}
        </p>
    {% endif %}
{% else %}
    <p>No images stored in the database yet.</p>
{% endif %}

<h3><a href="{{blog_url}}/admin/image">Upload a New Image</a></h3>

{% endblock %}
