<%inherit file="base.html"/>

<h3>Actions</h3>
<ul>
    <li><a href="${blog_url}/admin/post/">Write a New Post</a></li>
    <li><a href="${blog_url}/admin/posts">View or Edit Pre-Existing Posts</a></li>
    <li><a href="${blog_url}/admin/comments">Moderate Comments</a></li>
    <li><a href="${blog_url}/admin/authors">Manage Authors</a></li>
    <li><a href="${blog_url}/admin/blog/${blog.key()}">Change Configuration</a></li>
</ul>

% if other_blogs.count():
    <h3>Other Blogs</h3>
    <ul>
        % for other_blog in other_blogs:
            <li>
                <a href="${other_blog.url}/admin">Switch to Admin for ${other_blog.title}</a>
            </li>
        % endfor
    </ul>
% endif

<p><a href="${blog_url}/admin/blog/">Create Another Blog</a></p>

