<%inherit file="base.html"/>

<h3>
    Post
    % if post:
        (<a href="${blog_url}/post/${post.slug}">View</a>)
    % endif
</h3>
<form action="" method="post">
    <p>
        Title: <input type="text" name="title" value="${post and post.title or ''}" />
    </p>

    <p>
        Author:
        <select name="author">
            % for author in authors:
                <option value="${author.key()}">${author.name}</a>
            % endfor
        </select>
    </p> 

    <p>Body:</p>
    % if post:
        <textarea name="body">${post.body}</textarea>        
    % else:
        <textarea name="body"></textarea>
    % endif

    <p>
        Published:
        % if post and post.published:
            <input type="checkbox" name="published" checked="checked" />
        % else:
            <input type="checkbox" name="published" />
        % endif
    </p>

    <p><input type="submit" value="Save Post" /></p>
</form>

