<%inherit file="base.html"/>

<h3>Posts</h3>

% if posts.count():
    <table>
        <thead>
            <tr>
                <th>Title (Click to Edit)</th>
                <th>Author</th>
                <th>Published (Click to View)</th>
                <th># of Comments</th>
                <th>Timestamp (UTC)</th>
            </tr>
        </thead>
        <tbody>
            % for post in posts:
                <tr>
                    <td><a href="${blog_url}/admin/post/${post.slug}">${post.title}</a></td>
                    % if post.author.url:
                        <td><a href="${post.author.url}" target="_blank">${post.author.name}</a></td>
                    % else:
                        <td><a href="${blog_url}/author/${post.author.slug}">${post.author.name}</a></td>
                    % endif
                    % if post.published:
                        <td><a href="${blog_url}/post/${post.slug}">${post.published}</a></td>
                    % else:
                        <td>${post.published}</td>
                    % endif
                    <td>${post.approved_comments.count()}</td>
                    <td>${post.timestamp}</td>
                </tr>
            % endfor
        </tbody>
    </table>
% else:
    <p>No posts yet.</p>
% endif

<h3><a href="${blog_url}/admin/post/">Write a New Post</a></h3>

