<%inherit file="base.html"/>

<h3>
    Post
    % if post and post.published:
        (<a href="${blog_url}/post/${post.slug}">View</a>)
    % endif
</h3>

% if post:
    <form id="delete-form" action="${blog_url}/admin/posts" method="post">
        <input type="hidden" name="post" value="${post.key()}"/>
        <p><input type="submit" value="Delete This Post"/></p>
    </form>
% endif

<form action="" method="post">
    <p>
        <label for="title">Title:</label>
        % if "title" in form_data:
            <input type="text" name="title" value="${form_data['title']}" />
        % else:
            <input type="text" name="title" value="${post and post.title.replace('"', '&quot;') or ''}" />
        % endif
        % if "title" in errors:
            <span class="error">please enter a valid title</span>
        % endif
    </p>

    <p>
        <label for="slug-choice">Slug:</label>
        % if post and post.published:
            <span class="help">(CAREFUL: changing the slug will break external links to published posts; changing the title and selecting automatic will also do this)</span>
        % endif
    </p>
    <ul>
        <li>
            % if "slug-choice" in form_data:
                <input type="radio" id="slug-auto" name="slug-choice" value="auto" ${form_data['slug-choice'] == 'auto' and 'checked="checked"' or ''} />
            % else:
                % if post and post.published:
                    <input type="radio" id="slug-auto" name="slug-choice" value="auto" />
                % else:
                    <input type="radio" id="slug-auto" name="slug-choice" value="auto" checked="checked" />
                % endif
            % endif
            <label for="slug-auto">Automatic</label>
        </li>
        <li>
            % if "slug-choice" in form_data:
                <input type="radio" id="slug-custom" name="slug-choice" value="custom" ${form_data['slug-choice'] == 'custom' and 'checked="checked"' or ''} />
            % else:
                % if post and post.published:
                    <input type="radio" id="slug-custom" name="slug-choice" value="custom" checked="checked" />
                % else:
                    <input type="radio" id="slug-custom" name="slug-choice" value="custom" />
                % endif
            % endif
            <label for="slug-custom">Custom:</label>
            % if "slug" in form_data:
                <input type="text" name="slug" value="${form_data['slug']}" />
            % else:
                <input type="text" name="slug" value="${post and post.slug or ''}" />
            % endif
            <span class="help">(ex: my-post-slug)</span>
            % if "slug" in errors:
                <span class="error">please enter a valid slug</span>
            % endif
            % if "slug_exists" in errors:
                <span class="error">the slug you entered is already being used by another post on this blog</span>
            % endif
        </li>
    </ul>

    <p>
        <label for="author">Author:</label>
        <select name="author">
            % for author in blog.authors:
                % if "author" in form_data:
                    <option value="${author.slug}" ${form_data['author'] == author.slug and 'selected="selected"' or ''}>${author.name}</option>
                % else:
                    <option value="${author.slug}" ${(post and post.author.slug == author.slug) and 'selected="selected"' or ''}>${author.name}</option>
                % endif
            % endfor
        </select>
        % if "author" in errors:
            <span class="error">please select a valid author</span>
        % endif
    </p>

    <p>
        <label for="post-body">Body:</label>
        <span class="help">(uses HTML)</span>
        % if "body" in errors:
            <span class="error">please enter a valid body</span>
        % endif
    </p>
    % if "body" in form_data:
        <textarea name="body" id="post-body">${form_data['body']}</textarea>
    % else:
        % if post:
            <textarea name="body" id="post-body">${post.body}</textarea>
        % else:
            <textarea name="body" id="post-body"></textarea>
        % endif
    % endif

    <p>
        <label for="timestamp-choice">Timestamp:</label>
        <span class="help">(make a future timestamp and check published to schedule for later)</span>
    </p>
    <ul>
        <li>
            % if "timestamp-choice" in form_data:
                <input type="radio" id="timestamp-now" name="timestamp-choice" value="now" ${form_data['timestamp-choice'] == 'now' and 'checked="checked"' or ''} />
            % else:
                % if post:
                    <input type="radio" id="timestamp-now" name="timestamp-choice" value="now" />
                % else:
                    <input type="radio" id="timestamp-now" name="timestamp-choice" value="now" checked="checked" />
                % endif
            % endif
            <label for="timestamp-now">Now</label>
        </li>
        <li>
            % if "timestamp-choice" in form_data:
                <input type="radio" id="timestamp-custom" name="timestamp-choice" value="custom" ${form_data['timestamp-choice'] == 'custom' and 'checked="checked"' or ''} />
            % else:
                % if post:
                    <input type="radio" id="timestamp-custom" name="timestamp-choice" value="custom" checked="checked" />
                % else:
                    <input type="radio" id="timestamp-custom" name="timestamp-choice" value="custom" />
                % endif
            % endif
            <label for="timestamp-custom">Custom:</label>
            % if "timestamp" in form_data:
                <input type="text" name="timestamp" value="${form_data['timestamp']}" />
            % else:
                <input type="text" name="timestamp" value="${post and post.timestamp.strftime('%Y-%m-%d %H:%M:%S') or ''}" />
            % endif
            <span class="help">(ex: 1970-01-21 13:35:16)</span>
            % if "timestamp" in errors:
                <span class="error">please enter a valid timestamp</span>
            % endif
        </li>
    </ul>

    <p>
        <label for="published-box">Published:</label>
        % if "published" in form_data:
            <input type="checkbox" name="published" id="published-box" ${form_data['published'] and 'checked="checked"' or ''}/>
        % else:
            % if post and post.published:
                <input type="checkbox" name="published" id="published-box" checked="checked" />
            % else:
                <input type="checkbox" name="published" id="published-box" />
            % endif
        % endif
    </p>

    % if "published" in form_data:
        <p id="preview-button" ${form_data['published'] and 'style="display: none;"' or ''}>
    % else:
        % if post and post.published:
            <p id="preview-button" style="display: none;">
        % else:
            <p id="preview-button">
        % endif
    % endif
        <input type="submit" value="Save and Preview" name="preview" />
        <span class="help">(you can only preview unpublished posts)</span>
    </p>

    <p><input type="submit" value="Save and Stop Working" /></p>
</form>

<script type="text/javascript" src="/blog/static/nicEdit-0.9.min.js"></script>
<script type="text/javascript">
    % if post:
        var delete_form = document.getElementById("delete-form");
        delete_form.addEventListener("submit", function(e) {
            var response = confirm("Are you sure you want to permanently delete this post and all its comments?\n\nAny links to it will be broken.");
            if (!response) {
                if (e.stopPropagation) e.stopPropagation();
                else e.cancelBubble = true;

                if (e.preventDefault) e.preventDefault();
                else e.returnValue = false;

                return false;
            }
        }, false);
    % endif

    // don't display the preview button if the post is published
    var published_box = document.getElementById("published-box");
    published_box.addEventListener("click", function(e) {
        var preview_button = document.getElementById("preview-button");
        if (this.checked) {
            preview_button.style.display = "none";
        }
        else {
            preview_button.style.display = "block";
        }
        return false;
    }, false);

    // monkey patch the image button in the editor to use our own images
    var image_urls = ${[str(image.url) for image in blog.images]};

    // save a copy of the original function
    var nicImageButtonOrig = nicImageButton;

    var blogImageButton = nicEditorAdvancedButton.extend({
	    addPane: function() {
            // add images to a div that's attached to the pane
            var div = new bkElement('div');
            div.id = "editor-images";
            for (var i=0; i < image_urls.length; i++) {
                var image_url = image_urls[i];
                var img = new bkElement('img');
                img.setAttributes({src: image_url + "=s100", alt: "Image Preview"});

                // add events to the images that makes clicking them auto-fill the src field
                img.addEvent("click", function(e) {
                    var src = document.getElementById("src");
                    src.value = this.src.replace("=s100", "=s${blog.image_preview_size}");
                    return false;
                }, false);
                img.appendTo(div);
            }
            this.pane.append(div);

            // standard plugin code to add the form
		    this.im = this.ne.selectedInstance.selElm().parentTag('IMG');
		    this.addForm({
			    '' : {type : 'title', txt : 'Add/Edit Image'},
			    'src' : {type : 'text', txt : 'URL', 'value' : 'http://', style : {width: '150px'}},
			    'alt' : {type : 'text', txt : 'Alt Text', style : {width: '100px'}},
			    'align' : {type : 'select', txt : 'Align', options : {none : 'Default','left' : 'Left', 'right' : 'Right'}}
		    },this.im);
	    },

        // use the original submit function
	    submit: nicImageButtonOrig.prototype.submit
    });

    // replace the original plugin with this one
    nicImageButton = blogImageButton;

    bkLib.onDomLoaded(function() {
	    var editor = new nicEditor({iconsPath: '/blog/static/nicEditorIcons-0.9.gif', fullPanel: true}).panelInstance('post-body');
    });
</script>

