<%inherit file="base.html"/>

<h3>
    Post
    % if post:
        (<a href="${blog_url}/post/${post.slug}">View</a>)
    % endif
</h3>
<form action="" method="post">
    <p>
        Title: <input type="text" name="title" value="${post and post.title or ''}" />
    </p>

    <p>
        Author:
        <select name="author">
            % for author in authors:
                <option value="${author.key()}">${author.name}</a>
            % endfor
        </select>
    </p> 

    <p>Body (use HTML formatting here):</p>
    % if post:
        <textarea name="body">${post.body}</textarea>        
    % else:
        <textarea name="body"></textarea>
    % endif

    <p>Timestamp:</p>
    <ul>
        <li>
            % if post:
                <input type="radio" id="timestamp-now" name="timestamp-choice" value="now" />
            % else:
                <input type="radio" id="timestamp-now" name="timestamp-choice" value="now" checked="checked" />
            % endif
            <label for="timestamp-now">Now</label>
        </li>
        <li>
            % if post:
                <input type="radio" id="timestamp-custom" name="timestamp-choice" value="custom" checked="checked" />
            % else:
                <input type="radio" id="timestamp-custom" name="timestamp-choice" value="custom" />
            % endif
            <label for="timestamp-custom">Custom:</label>
            <input type="text" name="timestamp" value="${post and post.timestamp.strftime('%Y-%m-%d %H:%M:%S') or ''}" />
            (ex: 1970-01-21 13:35:16)
        </li>
    </ul>

    <p>
        Published:
        % if post and post.published:
            <input type="checkbox" name="published" checked="checked" />
        % else:
            <input type="checkbox" name="published" />
        % endif
    </p>

    <p><input type="submit" value="Save Post" /></p>
</form>

