<%!
      def determine_inherit(template, context):
            blog = context['blog']
            if blog and blog.template:
                  template = '../../' + blog.template
            else:
                  template = 'default_base.html'
            return template
%>
<%inherit file="${determine_inherit(template, context)}"/>

${next.body()}

<script src="${static(blog_url + '/static/blog.js')}"></script>

% if user_is_admin:
    <script src="${static(blog_url + '/static/blog-admin.js')}"></script>
% endif
