<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="description" content="${blog_description and blog_description.replace('"', '&quot;') or ''}" />
        <title>
            ${blog and blog.title or 'Blog'}
            % if post:
                - ${post.title}
            % elif page_title:
                - ${page_title}
            % endif
        </title>
    </head>
    <body>

        <div id="blog" class="container">

            <div id="header">
                <h1><a href="${blog_url}">${blog and blog.title or 'Blog'}</a></h1>
                <p><a href="${blog_url}/feed">Subscribe</a></p>
                % if blog and blog.contact:
                    <p><a href="${blog_url}/contact/">Contact</a></p>
                % endif
            </div>

            <div id="content">
                ${next.body()}
            </div>
        </div>
    </body>
</html>
