{% extends "base.html" %}

{% from 'macros.html' import renderPost with context %}

{% block blog_content %}

{% set paginate_url = blog_url %}

{% if author %}
    {% set paginate_url = author_url %}
    <h3>Posts By {{author.name}}</h3>
{% endif %}

{% if tag %}
    {% set paginate_url = tag_url %}
    <h3>Posts tagged with {{tag.name}}</h3>
{% endif %}

{% if blog %}

    {% if posts %}
        <div class="post-list">
            {% for post in posts %}
                <div class="post-list-post">
                    {{renderPost(post, show_comments=False)}}
                </div>
            {% endfor %}
        </div>
        {% if page > 0 %}
            <p class="post-nav">
                {% if page > 1 %}
                    <a href="{{paginate_url}}?page={{page - 1}}" rel="prev">&lt; Older Posts</a>
                    {% if last_page > page %}
                        |
                    {% endif %}
                {% endif %}
                {% if last_page > page %}
                    {% if page + 1 == last_page %}
                        <a href="{{paginate_url}}" rel="next">Newer Posts &gt;</a>
                    {% else %}
                        <a href="{{paginate_url}}?page={{page + 1}}" rel="next">Newer Posts &gt;</a>
                    {% endif %}
                {% endif %}
            </p>
        {% endif %}
    {% else %}
        <p>
            No posts yet.
            Want to <a href="{{blog_url}}/admin/post/">go write one</a>?
        </p>
    {% endif %}

{% else %}
    <p>
        There's nothing here yet.
        You should <a href="{{blog_url}}/admin">setup your blog</a>.
    </p>
{% endif %}

{% endblock %}
