
{%- macro renderPost(post, show_comments=True) -%}

<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <h3 class="post-title" itemprop="headline">
        {% if post.published %}
            <a href="{{blog_url}}/post/{{post.slug}}" itemprop="url">{{post.title}}</a>
        {% else %}
            {{post.title}}
        {% endif %}
    </h3>

    {% if user_is_admin %}
        <h4 class="post-preview">
            {% if post.published %}
                (<a href="{{blog_url}}/admin/post/{{post.slug}}">Edit</a>)
            {% else %}
                (Preview Mode - <a href="{{blog_url}}/admin/post/{{post.slug}}">Continue Editing</a>)
            {% endif %}
        </h4>
    {% endif %}

    <address class="post-author">
        By
        {% set post_author = post.author.get() %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
            {% if post_author.url %}
                <a href="{{post_author.url}}" target="_blank" rel="author">{{post_author.name}}</a>
            {% elif blog.author_pages %}
                <a href="{{blog_url}}/author/{{post_author.slug}}" rel="author">{{post_author.name}}</a>
            {% else %}
                {{post_author.name}}
            {% endif %}
        </span></span>
    </address>

    <p class="post-timestamp">
        <time pubdate datetime="{{post.timestamp.isoformat()}}Z" itemprop="datePublished">
            {{post.timestamp.isoformat()}}Z
        </time>
    </p>

    {% if post.tag_keys %}
        <p class="post-tags">
            Tagged with
            {% for tag in post.tags %}
                {% set sep = '' %}
                {% if loop.index == loop.length - 1 %}
                    {% set sep = ', and' %}
                {% elif loop.index < loop.length %}
                    {% set sep = ',' %}
                {% endif %}
                <span itemprop="keywords"><a href="{{blog_url}}/tag/{{tag.slug}}" rel="tag">{{tag.name}}</a></span>{{sep}}
            {% endfor %}
        </p>
    {% endif %}

    <div class="post-body" itemprop="articleBody">
        {{post.body}}
    </div>

{% if blog.enable_comments or blog.enable_linkbacks %}
    {% if show_comments %}
        {% set comments = post.enabled_comments(blog) %}
        {% if comments %}
            <h4 id="comments">Comments</h4>
            <div class="comments">
                {% for comment in comments %}
                    {% if comment.author %}
                        {% if comment.author == post.author %}
                            <div class="comment post-author-comment" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                        {% else %}
                            <div class="comment blog-author-comment" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                        {% endif %}
                    {% else %}
                        <div class="comment {{comment.trackback and 'trackback' or ''}} {{comment.pingback and 'pingback' or ''}} {{comment.webmention and 'webmention' or ''}}" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
                    {% endif %}
                        <p class="comment-name">
                            {% if comment.author %}
                                {% set comment_author = comment.author.get() %}
                                <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
                                    {% if comment_author.url %}
                                        <a target="_blank" href="{{comment_author.url}}">{{comment_author.name}}</a>
                                    {% else %}
                                        <a href="{{blog_url}}/author/{{comment_author.slug}}">{{comment_author.name}}</a>
                                    {% endif %}
                                </span></span>

                                {% if comment.author == post.author %}
                                    (post author)
                                {% else %}
                                    (blog author)
                                {% endif %}
                                says
                            {% else %}
                                {% if comment.linkback %}
                                    {% if comment.trackback %}
                                        Trackback
                                    {% elif comment.pingback %}
                                        Pingback
                                    {% else %}
                                        Webmention
                                    {% endif %}
                                    from
                                    {% if comment.name %}
                                        <a target="_blank" href="{{comment.url}}">{{comment.name|e}}</a>
                                    {% else %}
                                        <a target="_blank" href="{{comment.url}}">{{comment.url}}</a>
                                    {% endif %}
                                    {% if comment.blog_name %}
                                        on {{comment.blog_name|e}}
                                    {% endif %}
                                {% else %}
                                    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">
                                        {% if comment.name %}
                                            {% if comment.url %}
                                                <a target="_blank" href="{{comment.url}}">{{comment.name|e}}</a>
                                            {% else %}
                                                {{comment.name|e}}
                                            {% endif %}
                                        {% else %}
                                            Anonymous
                                        {% endif %}
                                    </span></span>
                                    says
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="comment-timestamp">
                            <time datetime="{{comment.timestamp.isoformat()}}Z" itemprop="dateCreated">
                                {{comment.timestamp.isoformat()}}Z
                            </time>
                        </p>
                        {# body is required for normal comments, but may not exist for trackbacks #}
                        {% if comment.body %}
                            <p class="comment-body" itemprop="text">{{comment.body}}</p>
                        {% endif %}
                        {% if user_is_admin %}
                            <form class="comment-delete" action="{{blog_url}}/admin/comments" method="post">
                                <input type="hidden" name="post" value="{{post.slug}}"/>
                                <input type="hidden" name="comment" value="{{comment.key.urlsafe()}}"/>
                                <p><input type="submit" value="Delete" /></p>
                            </form>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if blog.enable_comments %}
            <h4 id="comment-link-header"><a id="comment-link" href="#comment-link">Leave a Comment</a></h4>

            <form id="comment-form" action="{{blog_url}}/post/{{post.slug}}" method="post" {{not errors and 'style="display: none;"' or ''}}>
                {% if user_is_admin %}
                    <ul>
                        <li>
                            {% if form_data.get('author_choice') != 'custom' %}
                                <input id="author-choice-author" type="radio" name="author_choice" value="author" checked="checked" />
                            {% else %}
                                <input id="author-choice-author" type="radio" name="author_choice" value="author" />
                            {% endif %}
                            <label for="author-choice-author">Leave comment as author:</label>
                            <select name="author">
                                {% for author in blog.authors %}
                                    {% if form_data.get('author') == author.slug %}
                                        <option value="{{author.slug}}" selected="selected">{{author.name}}</option>
                                    {% else %}
                                        <option value="{{author.slug}}">{{author.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <span class="help">(bypasses moderation)</span>
                            {% if "author" in errors %}
                                <span class="error">please select a valid author</span>
                            {% endif %}
                        </li>
                        <li>
                            {% if form_data.get('author_choice') == 'custom' %}
                                <input id="author-choice-custom" type="radio" name="author_choice" value="custom" checked="checked" />
                            {% else %}
                                <input id="author-choice-custom" type="radio" name="author_choice" value="custom" />
                            {% endif %}
                            <label for="author-choice-custom">Enter custom information</label>
                        </li>
                    </ul>

                    <div id="comment-author-info" {{(form_data.get('author_choice') != 'custom' and 'style="display: none;"' or '') | safe}}>
                        <p><label><input id="trackback" type="checkbox" name="trackback" {{(form_data.get('trackback') and 'checked="checked"' or '') | safe}}/> Trackback</label></p>
                        <p id="trackback-blog-name" {{(not form_data.get('trackback') and 'style="display: none;"' or '') | safe}}>
                            <label for="blog_name">Blog Name:</label>
                            <input type="text" name="blog_name" id="blog_name" value="{{form_data.get('blog_name', '')}}"/>
                            <span class="help">(optional, appears with trackback)</span>
                            {% if "blog_name" in errors %}
                                <span class="error">please enter a valid blog name</span>
                            {% endif %}
                        </p>
                        <p><label><input id="pingback" type="checkbox" name="pingback" {{(form_data.get('pingback') and 'checked="checked"' or '') | safe}}/> Pingback</label></p>
                        <p><label><input id="webmention" type="checkbox" name="webmention" {{(form_data.get('webmention') and 'checked="checked"' or '') | safe}}/> Webmention</label></p>
                {% else %}
                    <div id="comment-author-info">
                {% endif %}
                    <p>
                        <label for="comment-name">Name:</label>
                        <input type="text" id="comment-name" name="name" value="{{form_data.get('name', '')}}" autofocus />
                        <span class="help">(optional, appears with comment)</span>
                        {% if "name" in errors %}
                            <span class="error">please enter a valid name</span>
                        {% endif %}
                    </p>
                    <p>
                        <label for="comment-url">URL:</label>
                        <input type="url" id="comment-url" name="url" value="{{form_data.get('url', '')}}"/>
                        <span class="help">(optional, your name links to this address if included)</span>
                        {% if "url" in errors %}
                            <span class="error">please enter a valid URL</span>
                        {% endif %}
                    </p>
                    <p>
                        <label for="comment-email">Email:</label>
                        <input type="email" id="comment-email" name="email" value="{{form_data.get('email', '')}}"/>
                        <span class="help">(required for verification, first comment is moderated)</span>
                        {% if "email" in errors %}
                            <span class="error">please enter a valid email</span>
                        {% endif %}
                    </p>
                    <p style="position: absolute; width: 1px; height: 1px; overflow: hidden; color: #fff;">
                        <label for="comment-required">Required:</label>
                        <input type="text" id="comment-required" name="required" value="" autocomplete="off" tabindex="-1" />
                        <span class="help">(required for verification)</span>
                    </p>
                </div>
                <p>
                    <label for="comment-body">Comment:</label>
                    <span class="help">(HTML is stripped, URL's become links)</span>
                    {% if "body" in errors %}
                        <span class="error">please enter a valid comment</span>
                    {% endif %}
                </p>
                <textarea id="comment-body" name="body">{{form_data.get('body', '')}}</textarea>
                <p><input type="submit" value="Make Comment" /></p>
            </form>
        {% endif %}

        {% if blog.enable_linkbacks and root_url %}
            {# note escaping hyphens below to make sure the comment renders correctly #}
            <!--
            <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                     xmlns:dc="http://purl.org/dc/elements/1.1/"
                     xmlns:trackback="http://madskills.com/public/xml/rss/module/trackback/" >
                <rdf:Description
                    rdf:about="{{root_url}}/post/{{post.slug.replace('-', '%2d')}}"
                    dc:identifier="{{root_url}}/post/{{post.slug.replace('-', '%2d')}}"
                    dc:title="{{post.title.replace('-', '&#45;')}}"
                    trackback:ping="{{root_url}}/trackback/{{post.slug.replace('-', '%2d')}}" />
            </rdf:RDF>
            -->
        {% endif %}
    {% else %}
        {% if post.published %}
            <p class="all-comments">
                <a href="{{blog_url}}/post/{{post.slug}}#comments" itemprop="discussionUrl">
                    See All Comments (<span itemprop="interactionCount">{{len(post.enabled_comments(blog))}}</span>)
                </a>
            </p>
        {% endif %}
    {% endif %}
{% endif %}

</article>

{%- endmacro -%}
