<%inherit file="base.html"/>

${renderPost(post)}

<%def name="renderPost(post, include_comments=True)">

<div class="post">
    <h3 class="post-title">
        <a href="${blog_url}/post/${post.slug}">${post.title}</a>
        % if user_is_admin:
            (<a href="${blog_url}/admin/post/${post.slug}">Edit</a>)
        % endif
    </h3>

    <p class="post-author">By ${post.author.name}</p>

    <p class="post-timestamp">${post.secondsSinceEpoch}</p>

    <div class="post-body">
        ${post.body}
    </div>
</div>

% if blog_comments:
    % if include_comments:
        % if post.approved_comments.count():
            <h4 id="comments">Comments</h4>
            <div class="comments">
                % for comment in post.approved_comments:
                    % if comment.author
                        % if comment.author.key() == post.author.key():
                            <div class="comment post-author-comment">
                        % else:
                            <div class="comment blog-author-comment">
                        % endif
                    % else:
                        <div class="comment">
                    % endif
                        <p class="comment-name">
                            % if comment.author:
                                % if comment.author.url:
                                    <a target="_blank" href="${comment.author.url}">${comment.author.name}</a>
                                % else:
                                    ${comment.author.name}
                                % endif

                                % if comment.author.key() == post.author.key():
                                    (post author)
                                % else:
                                    (blog author)
                                % endif
                            % else:
                                % if comment.name:
                                    % if comment.url:
                                        <a target="_blank" href="${comment.url}">${comment.name}</a>
                                    % else:
                                        ${comment.name}
                                    % endif
                                % else:
                                    Anonymous
                                % endif
                            % endif
                            says
                        </p>
                        <p class="comment-timestamp">${comment.secondsSinceEpoch}</p>

                        <p class="comment-body">${comment.body}</p>
                    </div>
                % endfor
            </div>
        % endif

        <h4 id="comment-link-header"><a id="comment-link" href="#comment-link">Leave a Comment</a></h4>

        <form id="comment-form" action="" method="post" style="display: none;">
            % if user_is_admin:
                <ul>
                    <li>
                        <input id="author-choice-author" type="radio" name="author-choice" value="author" checked="checked" />
                        <label for="author-choice-author">Leave comment as author:</label>
                        <select name="author">
                            % for author in authors:
                                <option value="${author.key()}">${author.name}</option>
                            % endfor
                        </select>
                        (bypasses moderation)
                    </li>
                    <li>
                        <input id="author-choice-custom" type="radio" name="author-choice" value="custom" />
                        <label for="author-choice-custom">Enter custom information</labael>
                    </li>
                </ul>

                <div id="comment-author-info" style="display: none;">
            % else:
                <div id="comment-author-info">
            % endif
                <p>
                    Name:
                    <input type="text" name="name" />
                    <span class="help">(optional, appears with comment)</span>
                </p>
                <p>
                    URL:
                    <input type="text" name="url" />
                    <span class="help">(optional, your name links to this address if included)</span>
                </p>
                <p>
                    Email:
                    <input type="text" name="email" />
                    <span class="help">(required for verification, first comment is moderated)</span>
                </p>
            </div>
            <p>Comment:</p>
            <textarea name="body"></textarea>
            <p><input type="submit" value="Make Comment" /></p>
        </form>

        <script type="text/javascript">
            var comment_link = document.getElementById("comment-link");
            comment_link.addEventListener("click", function(e) {
                var comment_form = document.getElementById("comment-form");
                if (comment_form.style.display == "none") {
                    comment_form.style.display = "block";
                }
                else {
                    comment_form.style.display = "none";
                }
                return false;
            }, false);

            % if user_is_admin:
                var author_radio = document.getElementById("author-choice-author");
                author_radio.addEventListener("click", function(e) {
                    var author_info = document.getElementById("comment-author-info");
                    author_info.style.display = "none";
                    return false;
                }, false);

                var custom_radio = document.getElementById("author-choice-custom");
                custom_radio.addEventListener("click", function(e) {
                    var author_info = document.getElementById("comment-author-info");
                    author_info.style.display = "block";
                    return false;
                }, false);
            % endif
        </script>
    % else:
        <p><a href="${blog_url}/post/${post.slug}">See All Comments (${post.approved_comments.count()})</a></p>
    % endif
% endif

<script type="text/javascript">
    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    var els = document.getElementsByTagName("*");
    var timestamp_els = [];
    for (var i=0; i < els.length; i++) {
        if (els[i].className == "post-timestamp" || els[i].className == "comment-timestamp") {
            timestamp_els.push(els[i]);
        }
    }

    for (var i=0; i < timestamp_els.length; i++) {
        var el = timestamp_els[i];

        var utc_ms = parseInt(el.innerHTML) * 1000; // convert from seconds to ms
        var local = new Date(utc_ms);
        var date_string = days[local.getDay()] + ", " + months[local.getMonth()] + " " + local.getDate().toString();

        var hours = local.getHours();
        var ampm = "AM";
        if (hours > 11) {ampm = "PM";}
        if (hours > 12) {hours = hours - 12;}
        if (hours == 0) {hours = 12;}

        var minutes = local.getMinutes().toString();
        if (minutes.length < 2) {minutes = "0" + minutes;}

        var time_string = hours.toString() + ":" + minutes + " " + ampm;

        el.innerHTML = date_string + " at " + time_string;
    }
</script>

</%def>

