<%inherit file="base.html"/>

${renderPost(post)}

<%def name="renderPost(post, include_comments=True)">

<div class="post">
    <h3 class="post-title">
        <a href="${blog_url}/post/${post.slug}">${post.title}</a>
        % if user_is_admin:
            (<a href="${blog_url}/admin/post/${post.slug}">Edit</a>)
        % endif
    </h3>

    <p class="post-author">By ${post.author.name}</p>

    <p class="post-timestamp">${post.secondsSinceEpoch}</p>

    <p class="post-body">
        ${post.body}
    </p>
</div>

% if blog_comments:
    % if include_comments:
        % if post.approved_comments.count():
            <h4 id="comments">Comments</h4>
            <div class="comments">
                % for comment in post.approved_comments:
                    <div class="comment">
                        <p class="comment-name">
                            % if comment.name:
                                % if comment.url:
                                    <a target="_blank" href="${comment.url}">${comment.name}</a>
                                % else:
                                    ${comment.name}
                                % endif
                            % else:
                                Anonymous
                            % endif
                            says
                        </p>
                        <p class="comment-timestamp">${comment.secondsSinceEpoch}</p>

                        <p class="comment-body">${comment.body}</p>
                    </div>
                % endfor
            </div>
        % endif

        <h4 id="comment-link-header"><a id="comment-link" href="#comment-link">Leave a Comment</a></h4>
        <form id="comment-form" action="" method="post" style="display: none;">
            <p>
                Name:
                <input type="text" name="name" />
                <span class="help">(optional, appears with comment)</span>
            </p>
            <p>
                URL:
                <input type="text" name="url" />
                <span class="help">(optional, your name links to this address if included)</span>
            </p>
            <p>
                Email:
                <input type="text" name="email" />
                <span class="help">(required for verification, your first comment will be moderated)</span>
            </p>
            <p>Comment:</p>
            <textarea name="body"></textarea>
            <p><input type="submit" value="Make Comment" /></p>
        </form>
        <script type="text/javascript">
            var link = document.getElementById("comment-link");
            link.addEventListener("click", function(e) {
                var form = document.getElementById("comment-form");
                if (form.style.display == "none") {
                    form.style.display = "block";
                }
                else {
                    form.style.display = "none";
                }
                return false;
            }, false);
        </script>
    % else:
        <p><a href="${blog_url}/post/${post.slug}">See All Comments (${post.approved_comments.count()})</a></p>
    % endif
% endif

<script type="text/javascript">
    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    var els = document.getElementsByTagName("*");
    var timestamp_els = [];
    for (var i=0; i < els.length; i++) {
        if (els[i].className == "post-timestamp" || els[i].className == "comment-timestamp") {
            timestamp_els.push(els[i]);
        }
    }

    for (var i=0; i < timestamp_els.length; i++) {
        var el = timestamp_els[i];

        var utc_ms = parseInt(el.innerHTML) * 1000; // convert from seconds to ms
        var local = new Date(utc_ms);
        var date_string = days[local.getDay()] + ", " + months[local.getMonth()] + " " + local.getDate().toString();

        var hours = local.getHours();
        var ampm = "AM";
        if (hours > 11) {ampm = "PM";}
        if (hours > 12) {hours = hours - 12;}
        if (hours == 0) {hours = 12;}
        var time_string = hours.toString() + ":" + local.getMinutes().toString() + " " + ampm;

        el.innerHTML = date_string + " at " + time_string;
    }
</script>

</%def>

